beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==4.0.0
googlesearch-python==1.0.1
idna==2.10
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5-stubs==5.15.2.0
requests==2.25.1
soupsieve==2.2.1
urllib3==1.26.6
