apparmor==3.0.0
appdirs==1.4.4
asn1crypto==1.4.0
attrs==20.3.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
beautifultable==0.8.0
btrfsutil==5.9
CacheControl==0.12.6
cachetools==4.1.1
caffeine-ng==3.4.2
cffi==1.14.3
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==7.1.2
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==3.3.2
decorator==4.4.2
distlib==0.3.1
distro==1.5.0
docopt==0.6.2
duplicity==0.8.16
ewmh==0.1.6
fandogh-cli==1.25.1
fasteners==0.15
Flask==1.1.2
future==0.18.2
gestures==0.2.2
google-api-core==1.22.4
google-api-python-client==1.12.3
google-auth==1.23.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
gpg==1.15.0
gufw==20.4.0
html5lib==1.1
httplib2==0.19.0
idna==2.10
ipython==7.19.0
ipython-genutils==0.1.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
layoutswitcherlib==0.8.16
LibAppArmor==3.0.0
louis==3.15.0
MarkupSafe==1.1.1
monotonic==1.5
msgpack==1.0.0
mysql-connector-python==8.0.22
netsnmp-python==1.0a1
nftables==0.1
npyscreen==4.10.5
numpy==1.19.4
oauth2client==4.1.3
ordered-set==4.0.2
packaging==20.4
pacman-mirrors==4.16.4
paramiko==2.7.2
parso==0.7.1
pep517==0.9.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.1
ply==3.11
prettytable==1.0.1
progress==1.5
prompt-toolkit==3.0.8
protobuf==3.13.0
protonvpn-cli==2.2.6
psutil==5.7.3
ptyprocess==0.6.0
pwquality==1.4.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.0
pycparser==2.20
PyDrive==1.3.1
pygame==2.0.1
Pygments==2.7.2
PyGObject==3.38.0
PyNaCl==1.4.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
pysmbc==1.0.23
PySocks==1.7.1
python-xlib==0.28
pythondialog==3.5.1
pyttsx3==2.90
pytz==2020.4
pyxdg==0.26
PyYAML==5.3.1
ranger-fm==1.9.3
reportlab==3.5.55
requests==2.24.0
requests-toolbelt==0.9.1
resolvelib==0.5.1
retrying==1.3.3
rsa==4.6
setproctitle==1.1.10
sip==4.19.24
six==1.15.0
slip==0.6.5
slip.dbus==0.6.5
soupsieve==2.0.1
team==1.0
termcolor==1.1.0
toml==0.10.2
torbrowser-launcher==0.3.2
traitlets==4.3.3
tzlocal==2.1
ueberzug==18.1.6
ufw==0.36
uritemplate==3.0.1
urllib3==1.25.10
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
