@media (prefers-color-scheme: dark) {
    .all {
        color: white;
        background-color: #333;
    }
    .main {
        font-family: 'Roboto', sans-serif;
        padding: 5%;
    }
    .dialog {
        padding: 2%;
        border-radius: 5px;
        background-color: #252525;
        border: solid 1px #252525;
    }
    .code {
        font-size: 15px;
        font-family: 'Roboto Mono', monospace;
        padding: 2%;
        font-weight: bold;
        color: yellow;
        background-color: #444;
        border-radius: 2px;
    }
    .incode {
        font-size: 15px;
        font-family: 'Roboto Mono', monospace;
        padding: 1%;
        font-weight: bold;
        color: yellow;
        background-color: #444;
        border-radius: 2px;
    }
}